version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
    labels:
      - internal
      - dependencies

  - package-ecosystem: "gradle"
    directory: "/"
    schedule:
      interval: "daily"
    labels:
      - dependencies
    groups:
      # Gradle plugins that don't have user visible consequences and
      # thus shouldn't appear in the changelog (mark as 'internal')
      infra-gradle-plugins:
        patterns:
          - *:com.gradle.develocity*
          - *:com.vanniktech.maven.publish*
          - *:org.hildan.github.changelog*
          - *:org.jetbrains.dokka*
          - *:org.jetbrains.kotlinx.binary-compatibility-validator*
          - *:ru.vyarus.github-info*
        labels:
          - internal
      test-dependencies:
        patterns:
          - org.eclipse.jetty.websocket:websocket-jetty-client
          - org.java-websocket:Java-WebSocket
          - org.slf4j:slf4j-simple
          - org.testcontainers:*
          - uk.org.lidalia:slf4j-test
        labels:
          - internal
