site_name: Krossbow
site_url: https://joffrey-bion.github.io/krossbow
repo_name: krossbow
repo_url: https://github.com/joffrey-bion/krossbow
site_description: "A coroutine-based Kotlin multi-platform STOMP 1.2 client over web sockets."
site_author: Joffrey Bion

theme:
  name: material
  features:
    - navigation.expand
  icon:
    repo: fontawesome/brands/github
  palette:
    - scheme: default
      media: "(prefers-color-scheme: light)"
      primary: 'teal'
      accent: 'teal'
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
    - scheme: slate
      media: "(prefers-color-scheme: dark)"
      primary: 'light blue'
      accent: 'light blue'
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode

plugins:
  - macros # for variables like git.tag (requires mkdocs-macros-plugin)
  - search

markdown_extensions:
  - admonition # for info/warn/tip sections
  - attr_list # for anchors in definition lists
  - def_list # for definition lists (stomp config)
  - footnotes
  - pymdownx.emoji
  - pymdownx.highlight
  - pymdownx.superfences # required for code highlighting
  - pymdownx.tabbed # for tabs support
  - toc:
      permalink: true

nav:
  - 'Overview': index.md
  - 'STOMP':
    - 'Getting started': stomp/getting-started.md
    - 'Configuration': stomp/config.md
    - 'Body conversions':
      - 'Kotlinx Serialization': stomp/conversions/kx-serialization.md
      - 'Jackson': stomp/conversions/jackson.md
      - 'Moshi': stomp/conversions/moshi.md
      - 'Custom conversions': stomp/conversions/custom.md
    - 'Advanced features': stomp/advanced-features.md
  - 'Web socket clients':
    - 'Built-in': websocket/builtin.md
    - 'Ktor': websocket/ktor.md
    - 'OkHttp': websocket/okhttp.md
    - 'Spring': websocket/spring.md
    - 'SockJS': websocket/sockjs.md
    - 'Implement your own': websocket/custom.md
  - 'Artifacts summary': artifacts.md
  - 'Migration guides': migration-guides.md
  - 'API Docs ↗': kdoc/index.html
  - 'Change Log ↗': https://github.com/joffrey-bion/krossbow/blob/main/CHANGELOG.md
  - 'License': license.md

extra:
  analytics:
    provider: google
    property: G-ZMF5BS7V5E
  social:
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/joffreybion
      name: "Joffrey on Twitter"
  versions:
    jackson: 2.18.3
    ktor: 3.1.1
    ktorLegacy: 2.3.12
    kotlinxSerialization: 1.8.0
    moshi: 1.15.2
    tyrus: 2.2.0

copyright: Copyright &copy; 2019 - 2025 Joffrey Bion
