name: CI Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        jdk-version: [11, 13]
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK ${{ matrix.jdk-version }}
      uses: actions/setup-java@v1.3.0
      with:
        java-version: ${{ matrix.jdk-version }}

    - name: Gradle build cache
      uses: actions/cache@v2.1.1
      with:
        path: ~/.gradle/caches
        key: ${{ runner.os }}-gradle-build-${{ hashFiles('**/*.gradle*') }}
        restore-keys: ${{ runner.os }}-gradle-build-

    - name: Gradle wrapper cache
      uses: actions/cache@v2.1.1
      with:
        path: ~/.gradle/wrapper
        key: ${{ runner.os }}-gradle-wrapper-${{ hashFiles('**/gradle-wrapper.properties') }}

    - name: Build with Gradle
      run: ./gradlew build

# When Travis CI doesn't publish on tags anymore:

#  publish:
#    needs: build
#    if: startsWith(github.ref, 'refs/tags/')
#    steps:
#      - name: Publish to Bintray
#        run: ./gradlew bintrayUpload
