name: CI Build

on:
  push:
    paths-ignore:
      - 'mkdocs.yml'
      - 'docs/**'
    branches-ignore:
      - autobahn-tests/ios
  pull_request:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        # Windows hosts don't support linux containers yet (https://github.com/actions/virtual-environments/issues/1143)
        os: [ ubuntu-latest, macos-latest ]
        jdk-version: [ 17 ]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up JDK ${{ matrix.jdk-version }}
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.jdk-version }}

      # Docker is not installed on GitHub's MacOS hosted workers due to licensing issues
      # (and it's necessary to run Autobahn tests)
      - name: Setup docker and docker-compose (missing on MacOS)
        if: runner.os == 'macos'
        run: |
          brew install docker docker-compose
          # using mount-type 9p to allow the containers launched via docker-compose to chown
          # https://github.com/abiosoft/colima/issues/54#issuecomment-1250217077
          colima start --mount-type 9p

      - name: Build with Gradle
        uses: gradle/gradle-build-action@v2
        with:
          arguments: build

      - name: Upload Autobahn reports
        uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: autobahn-reports-${{ runner.os }}-jdk${{ matrix.jdk-version }}
          path: autobahn-tests/build/autobahn/reports/clients
