name: CI Build

on:
  push:
    paths-ignore:
      - 'mkdocs.yml'
      - 'docs/**'
  pull_request:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        # Windows hosts don't support linux containers yet (https://github.com/actions/virtual-environments/issues/1143)
        os: [ ubuntu-latest, macos-latest, windows-latest ]
        jdk-version: [ 17 ]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK ${{ matrix.jdk-version }}
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.jdk-version }}

      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Gradle build
        run: ./gradlew build
