name: CI Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 11
      uses: actions/setup-java@v1.3.0
      with:
        java-version: 11

    - name: Gradle build cache
      uses: actions/cache@v1
      with:
        path: ~/.gradle/caches
        key: ${{ runner.os }}-gradle-build-${{ hashFiles('**/*.gradle*') }}
        restore-keys: ${{ runner.os }}-gradle-build-

    - name: Gradle wrapper cache
      uses: actions/cache@v1
      with:
        path: ~/.gradle/wrapper
        key: ${{ runner.os }}-gradle-wrapper-${{ hashFiles('**/gradle-wrapper.properties') }}
        restore-keys: ${{ runner.os }}-gradle-wrapper-

    - name: Build with Gradle
      run: ./gradlew build

# When Travis CI doesn't publish on tags anymore:

#  publish:
#    needs: build
#    if: startsWith(github.ref, 'refs/tags/')
#    steps:
#      - name: Publish to Bintray
#        run: ./gradlew bintrayUpload
