name: Publish website

on:
  workflow_dispatch: {}
  push:
    paths:
      - 'mkdocs.yml'
      - 'docs/**'
    branches:
      - main
    tags:
      - '*'

jobs:
  publish-website:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        jdk-version: [ 17 ]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0 # to fetch all tags for proper version

      - name: Set up JDK ${{ matrix.jdk-version }}
        uses: actions/setup-java@v2
        with:
          distribution: 'zulu'
          java-version: ${{ matrix.jdk-version }}

      - name: Generate KDocs
        uses: burrunan/gradle-cache-action@v1
        with:
          job-id: jdk${{ matrix.jdk-version }}
          arguments: dokkaHtmlMultiModule

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.x

      - name: Install MkDocs Material
        run: pip install mkdocs-material mkdocs-macros-plugin

      - name: Deploy doc to GitHub pages
        # --strict aborts on any warning
        # --force forces the push to the repo (gh-pages branch)
        run: mkdocs gh-deploy --strict --force
