name: publish-website

on:
  workflow_dispatch: {}
  push:
    tags:
      - '*'

run-name: "Website update (${{ github.ref_name }})"

jobs:
  publish-website:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        jdk-version: [ 17 ]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0 # to fetch all tags for proper version

      - name: Set up JDK ${{ matrix.jdk-version }}
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.jdk-version }}

      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Generate KDocs
        run: ./gradlew generateWebsiteKDocs

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.x

      - name: Install MkDocs Material
        run: pip install mkdocs-material mkdocs-macros-plugin

      - name: Deploy doc to GitHub pages
        # --strict aborts on any warning
        # --force forces the push to the repo (gh-pages branch)
        run: mkdocs gh-deploy --strict --force
