name: release

on:
  workflow_dispatch:
    inputs:
      version:
        description: "New version (and git tag)"
        required: true

jobs:
  release:
    runs-on: macos-latest # For darwin publications
    strategy:
      matrix:
        jdk-version: [ 17 ]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK ${{ matrix.jdk-version }}
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.jdk-version }}

      # Docker is not installed on GitHub's MacOS hosted workers due to licensing issues
      # (and it's necessary to run Autobahn tests)
      - name: Setup docker and docker-compose (missing on MacOS)
        if: runner.os == 'macos'
        run: |
          brew install docker docker-compose
          
          # Link the Docker Compose v2 plugin so it's understood by the docker CLI
          mkdir -p ~/.docker/cli-plugins
          ln -sfn /usr/local/opt/docker-compose/bin/docker-compose ~/.docker/cli-plugins/docker-compose
          
          # Using mount-type 9p to allow the containers launched via docker-compose to chown
          # https://github.com/abiosoft/colima/issues/54#issuecomment-1250217077
          colima start --mount-type 9p
          
          # Loosen permissions for directories mounted in containers to workaround permission issues that remain
          # when using the 9p filesystem (https://github.com/joffrey-bion/krossbow/issues/282)
          chmod 777 autobahn-tests/test-server/config
          mkdir -p autobahn-tests/build/autobahn/reports
          chmod 777 autobahn-tests/build/autobahn/reports

      - name: Release
        uses: joffrey-bion/gradle-library-release-action@v1
        with:
          version: ${{ inputs.version }}
          gpg-signing-key: ${{ secrets.GPG_SECRET_ASCII_ARMORED }}
          gpg-signing-password: ${{ secrets.GPG_PASSWORD }}
          sonatype-username: ${{ secrets.OSSRH_USER_TOKEN }}
          sonatype-password: ${{ secrets.OSSRH_KEY }}
